<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="6.2.16" targetFramework="net46" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net46" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="RestSharp" version="106.5.4" targetFramework="net46" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net46" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net46" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net46" />
</packages>